__pycache__/
*.pyc
*.jpg
.DS_Store
.venv/
.superpowers/
.vscode/
docs/superpowers/
.tmp_dagster*/
.pytest_cache/
traffic_images/
traffic_lane_labels/
traffic_vehicle_labels/
models/
processed_output/
causeway.db
yolov8x.pt
snaic-ai-causeway.code-workspace
plan/
camera_config.json